.wrapper__create_application {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  .create__application_content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .application_content__panel{
    width: 430px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 40%;
    left: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px  ;


    input {
      margin-left: 5px;
      outline: none;
      height: 20px;
      border: 1px solid orangered;
    }

    .icon__check{
      color: green;
      position: relative;
      font-size: 25px;
      left: 3px;
      cursor: pointer;
    }
    .icon__close{
      color: red;
      position: relative;
      font-size: 25px;
      cursor: pointer;
      left: 4px;
    }


  }
  }

}